<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.icho.master.mapper.MUserMapper">

    <insert id="addUsers" parameterType="com.icho.bean.User">
        insert into t_user values
            <foreach collection="list" index="index" item="item" separator=",">
                (#{item.id},#{item.userName},#{item.password},#{item.name},#{item.age},#{item.sex},null,null,null,#{item.note})
            </foreach>

    </insert>

    <select id="selectUsers" resultType="com.icho.bean.User">
        select * from t_user
    </select>

</mapper>